:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
    width: 85%;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}

.shopContainer {
  /* width: 85%; */
  display: flex;
  /* max-width: 1200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.others {
  flex: 10;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

.categoryLi {
  color: black;
  background-color: #609a81;
  margin: 5px;
}

#categoryLi:hover {
  color: white;
  background-color: #96c3b0;
}

#sidebarTitle {
  font-size: 13px;
  color: #555;
}

.itemCard {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.cardItem {
  flex:1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -1px #868686;
  box-shadow: 0px 0px 10px -1px #868686;
}

.addCart {
  border: 0 solid;
  /* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0); */
  outline: 1px solid;
  outline-color: #96c3b0;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
} 

.addCart:hover {
  border: 1px solid;
  /* box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2); */
  outline-color: #96c3b0;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.cardTitle {
  font-size: 18px;
  color: #20302c;
  font-weight: bold;
}

.cartTitle {
  font-weight: bold;
  color: #609a81;
}

#trashIcon {
  height: 25px;
  width: 25px;
  margin-bottom: -7px;
  color: #416758;
  cursor: pointer;
}

#trashIcon:hover {
  color: #609a81;
}

.closeBtn {
  color: black;
}
@media screen and (max-width: 319px) {
  .sidebarWrapper {
    padding: 0px !important;
  }
  .categoryLi {
    font-size: 12px !important;
  }
  .cartTitle {
    font-size: 20px !important;
  }
  .cardTitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .itemCard {
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
  }
  .cardItem {
    width: 100%;
    margin: 5px;
    padding: 0px;
  }
  .sidebar {
    width: 40%;
  }
  .categoryLi {
    font-size: 11px;
    margin: 2px;
  }
  #categoryIcon {
    width: 15px;
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .itemCard {
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
  }
  .cardItem {
    width: 100%;
    margin: 5px;
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  .card {
    width: 100%;
  }
}