.cart {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 100%;
  max-height: 60%;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  cursor: pointer;
  /* color: var(--tertiary); */
}

.cart-closed {
  position: absolute;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  /* background-color: var(--secondary); */
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
  background-color: #609a81;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
  border-radius: 10px;
}

.cart input {
  width: 50px;
  padding: 2px;
  margin: 0 .5rem 1rem 0;
}

#sadPlant {
  width: 100px;
  height: 100px;
  margin: auto;
}
@media screen and (max-width: 2560px) {
  .cart {
    position: relative;
    max-height: 60%;
  }
  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1440px) {
  .cart {
    position: relative;
    max-height: 60%;
  }
  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .cart {
    max-height: 50%;
    position: relative;
  }
  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: 55%;
    box-shadow: none;
    background-color: inherit;
    -webkit-box-shadow: 0px 0px 10px -1px #868686;
    box-shadow: 0px 0px 5px -1px #868686;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .cart {
    max-height: 45%;
  }
}

@media screen and (max-width: 375px) {
  .cart {
    max-height: 40%;
  }
}
