.home__bg{
    background-image: url("../../backgroundImg/background1.png");
    background-color: #999898;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    /* width: 100%; */
}

.navbar {
    display: flex;
    justify-content:right;
    position:static;
    
}
.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: flex-end;
    /* position: relative;
    left: 1200px; */
}

.home__content{
    padding: 125px 10px;
    justify-content: center;
    /* position: relative;
    left: 500px; */
}
.home_text{
position: relative!important;
left: 350px;
}

h1.home_text{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #20302c!important;
    line-height: 100px;
}

h2.home_text{
    font-size: 90px;
    font-weight: 800;
    font-family: "Montserrat",sans-serif;

}

h3.home_text{
    font-size: 90px;
    font-weight: 800;
    font-family: "Montserrat",sans-serif;
    line-height: 34px;
}

@media only screen and (max-width: 768px){
   .plantIt {
      position: relative;
      right: 150px;
    }

    .sellIt {
        position: relative;
        right: 120px;

    }

    .paradise {
        position: relative;
        right: 110px;

    }

    h1.home_text {
        font-size: 20px;
    }

    }

    @media only screen and (max-width: 365px){
        .plantIt {
           position: relative;
           right: 310px;
         bottom: 60px;
           
         }

         h3.home_text {
             font-size: 70px;
         }

         h2.home_text {
             font-size: 70px;
            
         }
     
         .sellIt {
             position: relative;
             right: 295px;
             bottom: 40px;
     
         }
     
         .paradise {
             position: relative;
             right: 310px;
             bottom: 30px;
     
         }
     
         h1.home_text {
             font-size: 20px;
         }
     
         }

         @media only screen and (max-width: 377px){
            .plantIt {
               position: relative;
               right: 310px;
             bottom: 60px;
               
             }
    
             h3.home_text {
                 font-size: 70px;
             }
    
             h2.home_text {
                 font-size: 70px;
                
             }
         
             .sellIt {
                 position: relative;
                 right: 295px;
                 bottom: 40px;
         
             }
         
             .paradise {
                 position: relative;
                 right: 310px;
                 bottom: 30px;
         
             }
         
             h1.home_text {
                 font-size: 20px;
             }
         
             }

             @media only screen and (max-width: 415px){
                .plantIt {
                   position: relative;
                   right: 310px;
                 bottom: 60px;
                   
                 }
        
                 h3.home_text {
                     font-size: 70px;
                 }
        
                 h2.home_text {
                     font-size: 70px;
                    
                 }
             
                 .sellIt {
                     position: relative;
                     right: 295px;
                     bottom: 40px;
             
                 }
             
                 .paradise {
                     position: relative;
                     right: 310px;
                     bottom: 30px;
             
                 }
             
                 h1.home_text {
                     font-size: 20px;
                 }
             
                 }

                  @media only screen and (max-width: 415px){
                .plantIt {
                   position: relative;
                   right: 310px;
                 bottom: 60px;
                   
                 }
        
                 h3.home_text {
                     font-size: 70px;
                 }
        
                 h2.home_text {
                     font-size: 70px;
                    
                 }
             
                 .sellIt {
                     position: relative;
                     right: 295px;
                     bottom: 40px;
             
                 }
             
                 .paradise {
                     position: relative;
                     right: 310px;
                     bottom: 30px;
             
                 }
             
                 h1.home_text {
                     font-size: 20px;
                 }
             
                 }