.cardBtn{
transition: .4s ease;
font-size: 18px;
font-weight: 500;
border-radius: 5px;
border: 2px solid #f9004d;
background-color: #f9004d;
color: #fff!important;
text-transform: uppercase;
letter-spacing: 2px;
transition: .4s all ease;
}

.cardBtn:hover{
    
}

.price{
    font-size: 18px;
    font-weight: 500;
}

.quantity{
    font-size: 18px;
    font-weight: 500;
}

.itemName{
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    /* text-shadow: #283e35 2px 2px; */
}
